<header class="header">
        
   <h3> <b> Project Manager </b></h3>

   
   
   <div class="form-group row">
      <div class="col-xs-2">
         <button type="button" (click)="addProject()" class="btn btn-link">Add Project</button>
      </div>
      <div class="col-xs-2">
         <button type="button" (click)="addTask()" class="btn btn-link">Add Task</button>
      </div>
      <div class="col-xs-2">
         <button type="button" (click)="addUser()" class="btn btn-link">Add User</button>
      </div>
      <div class="col-xs-2">
         <button type="button" (click)="viewTask()" class="btn btn-link">View Task</button>
        </div>
    </div>
   <br/>
   <br/>
    
</header>